@pqina:registry=https://npm.pqina.nl/
//npm.pqina.nl/:_authToken=NhP8ykT.OkG3ViTKzyRa0eFbVd1GTC.FfkaqqXbYoIVqR8oGj0MO.

@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=vBhirkCHBsTOeUTfD10t9j5hOnCIn24lROLvihNn6yk=